.home-page{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 65px);
    padding-inline-start: 60px;
    h1{
        font-size: clamp(3rem, 2.3799rem + 3.4934vw, 5rem);
    }
    @media (max-width: 576px) { 
        padding-inline-start: 0;
    }
}